@media screen and (min-width: 0px){
    .emote-button, .change-view-button, .sign-in-button, .log-in-button{
        display: none;
    }

    .container{
        width: 100%;
    }
}

@media screen and (min-width: 555px){
    .emote-button, .change-view-button, .sign-in-button, .log-in-button{
        display: initial;
    }
}

@media screen and (min-width: 700px){
    .container{
        width: 700px;
    }
}