body {
    background-image: url(images/background_study_group.jpg);
    background-size: cover;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-header {
    background-color: black;
    padding: 8px 0px;
    position: fixed;
    top: 0px;
    left: 0px;

}

.main-header img, header div {
    height: 40px;
}

.main-header div {
    display: inline-block;
    min-width: fit-content;
    vertical-align: top;
}

h1 {
   font-weight: bold;
   padding-bottom: 0.3em;
}