body {
    background-image: url(images/background_study_group.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

h2{
    font-size: 1.2em;
    margin-bottom: 20px;
}

.main-header {
    display: flex;
    align-items: center;
    background: rgb(20, 0, 36);
    padding: 8px 0px;
    top: 0px;
    left: 0px;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
}

.main-header img {
    height: 40px;
}

.logo-text {
    display: inline-block;
    min-width: fit-content;
    vertical-align: top;
    line-height: 0.8em;
    flex-grow: 1;
    margin-left: 10px;
}

.logo-text h1{
    font-weight: bold;
}

.logo-subtitle{
    font-size: 0.8em;
    color: grey;
    padding-top: 0.3em;
}

a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    font-size: 0.8em;
}

.emote-button{
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    border-radius: 5px;
    padding: 13px 12px 11px;
}

.change-view-button, .log-in-button{
    padding: 14px 17px;
    background-color: rgba(117, 114, 124, 0.623);
    border-radius: 5px;
}

.log-in-button{
    margin-right: 20px;
}

.sign-in-button{
    padding: 14px 17px;
    background-color: rgb(75, 199, 75);
    border-radius: 5px;
    color: black;
}

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.container-header{
    text-align: center;
    padding: 100px 30px 30px 30px ;
}

.container-header h1{
    font-size: 1.8em;
    padding-bottom: 0.3em;
}

.container-header p{
    font-style: italic;
    font-weight: 200;
    font-family: sans-serif;
}

span{
    font-size: smaller;
    color: rgb(170, 170, 170);
}

.form-container{
    background-color: rgb(20, 0, 36, 0.8);
    border-radius: 5px;
    padding: 40px;
}

label, textarea, legend{
    display: block;
    margin-bottom: 10px;
}

fieldset{
    margin-bottom: 20px;
}

.input-area {
    width: 97.5%;
    border-radius: 5px;
    height: 30px;
    padding-left: 2%;
    border-style: none;
}

.selection{
    width: 100%;
    border-radius: 5px;
    height: 32px;
    padding-left: 2%;
    border-style: none;
}

textarea{
    width: 96%;
    height: 100px;
    border-style: none;
    border-radius: 5px;
    padding: 2%;
}

.submit-button{
    width: 100%;
    border-radius: 5px;
    height: 40px;
    font-size: 0.8em;
    background-color: rgb(75, 199, 75);
    border-style: none;
    color: white;
}